*{ margin: 0px; padding: 0px;
} 
.fo{
    background-color: rgb(154, 3, 241);
    width: 100%;
    height: 60px;
    margin-top: 10px;
    color: lightcoral;
    font-family: 'Franklin Gothic Medium'
    ;
}

a{
    
 display: block;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}
.pag{
    font-size: 30px;
    text-align: center;
   background: rgb(94, 8, 8);
}
body{ background: rgb(0, 0, 0);}
.titulo{ font-size: 40px; font-family: 'Patua One', cursive; margin-block-end: 30px; line-height: 100px; text-align: center; vertical-align: middle; height: 100px; width: 100%; 
    background-color: darkred;} 
    a{ font-family:  Helvetica; display: block; margin-top: 20px; color: #000000; text-decoration: none; margin-left: auto; margin-right: auto; text-align: center; }
.clases{ display: block; margin: auto;	margin-top: 10px; height: 100px; width: 200px; border-radius: 10px; background: green; color: #333; line-height: 50px; text-align: center; vertical-align: middle;}
    P{ 	color: orangered;	font-size: 35PX;	text-align: center;}.libro:hover{	background: darkred;}a:hover { color: orange;}
    @media (max-width: 500px) { 
    .titulo{ font-size: 25px; font-family: 'Patua One', cursive; margin-block-end: 30px; line-height: 100px; text-align: center; vertical-align: middle; height: 150px; width: 100%; background-color rgb(94, 8, 8); } }
