* {
    margin: 0px;
    padding: 0px;
}

.fo {
    background-color: rgb(154, 3, 241);
    width: 100%;
    height: 60px;
    margin-top: 10px;
    color: rgb(0, 60, 255);
    font-family: 'Franklin Gothic Medium';
}

img {
    display: block;
    margin: auto;
    width: 410px;
}

.horario {
    margin-top: 20px;
}

.pag {
    font-size: 30px;
    text-align: center;
    background: rgb(217, 255, 3);
}

body {
    background: rgb(0, 174, 255);
}

.orientacion {
    background-color: black;
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 10px;
}

.titulo {
    font-size: 40px;
    font-family: 'Patua One', cursive;
    margin-block-end: 30px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    width: 100%;
    background-color: rgb(42, 0, 194);
}

a {
    font-family: Helvetica;
    display: block;
    margin-top: 20px;
    color: #f00000;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.clases {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: rgb(212, 0, 0);
    line-height: 50px;
    text-align: center;
    text-align: center;
}

.orientacion a {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: rgb(212, 0, 0);
    line-height: 50px;
    text-align: center;
    line-height: 30px;
    text-align: center;
}

P {
    color: orangered;
    font-size: 35PX;
}

.libro:hover {
    background: darkred;
}

a:hover {
    color: orange;
}

@media (max-width: 500px) {
    .titulo {
        font-size: 25px;
        font-family: 'Patua One', cursive;
        margin-block-end: 30px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        height: 60px;
        width: 100%;
        background-color: rgb(0, 17, 173);
    }
    img {
        width: 100%;
    }
}
